In [2]:
# ---------
# Importa as funções necessárias
import pandas as pd
import conexao as c
import random
# Função para obter o DataFrame
def get_dataframe(nome_tabela):
    conecta = None
    try:
        # Estabelece a conexão
        conecta = c.conn()
        if conecta is None:
            raise Exception("Falha ao conectar ao banco de dados.")
        
        # Executa a consulta SQL
        query = f"SELECT * FROM {nome_tabela};"
        df = pd.read_sql_query(query, conecta)
        print(f"DataFrame criado com sucesso para a tabela: {nome_tabela}")
        return df
    except Exception as e:
        print(f"Erro ao criar DataFrame para a tabela {nome_tabela}: {e}")
        return None
    finally:
        #Fecha a conexão
        if conecta:
            c.desconecta(conecta)

# Configura opções para exibir os DataFrames
pd.set_option('display.max_columns', None)  # Exibe todas as colunas
pd.set_option('display.max_rows', 20)       # Exibe até 20 linhas
pd.set_option('display.width', 1000)        # Ajusta a largura da tabel
pd.set_option('display.colheader_justify', 'center')  # Centraliza os titulos das colunas

# Transformando em dataframe
df_empresa = get_dataframe('empresa')
df_usuario = get_dataframe('usuario')
df_administracao = get_dataframe('administracao')

# Print dos Dataframes
if df_empresa is not None:
    print("\nTabela: Empresa")
    print(df_empresa)

if df_usuario is not None:
    print("\nTabela: Usuário")
    print(df_usuario)
    
if df_administracao is not None:
    print("\nTabela: Administração")
    print(df_administracao)

Erro ao 00conectar com o banco de dados: connection to server at "localhost" (::1), port 5432 failed: Connection refused (0x0000274D/10061)
	Is the server running on that host and accepting TCP/IP connections?
connection to server at "localhost" (127.0.0.1), port 5432 failed: Connection refused (0x0000274D/10061)
	Is the server running on that host and accepting TCP/IP connections?

Erro ao criar DataFrame para a tabela empresa: Falha ao conectar ao banco de dados.
Erro ao 00conectar com o banco de dados: connection to server at "localhost" (::1), port 5432 failed: Connection refused (0x0000274D/10061)
	Is the server running on that host and accepting TCP/IP connections?
connection to server at "localhost" (127.0.0.1), port 5432 failed: Connection refused (0x0000274D/10061)
	Is the server running on that host and accepting TCP/IP connections?

Erro ao criar DataFrame para a tabela usuario: Falha ao conectar ao banco de dados.
Erro ao 00conectar com o banco de dados: connection to server at "localhost" (::1), port 5432 failed: Connection refused (0x0000274D/10061)
	Is the server running on that host and accepting TCP/IP connections?
connection to server at "localhost" (127.0.0.1), port 5432 failed: Connection refused (0x0000274D/10061)
	Is the server running on that host and accepting TCP/IP connections?

Erro ao criar DataFrame para a tabela administracao: Falha ao conectar ao banco de dados.

In [4]:
# -------- Funções de anonimização --------
def anonimizar_administracao(df):
    try:
        if df is None or df.empty:
            raise ValueError("DataFrame de administração está vazio ou nulo.")
        df['senha'] = [f'Senha{random.randint(1000,9999)}' for _ in range(len(df))]
    except Exception as e:
        print(f"Erro ao anonimizar administração: {e}")
    return df

# -------- Aplicando anonimização nos dados vindos do SQL --------
df_administracao_anonimizada= anonimizar_administracao(df_administracao)
if df_administracao_anonimizada is not None:
    print("\nTabela: Usuário Anonimizado")
    print(df_administracao_anonimizada)

Tabela: Usuário Anonimizado
   id     nome           email          senha
0   1  Admin Geral   admin@kronos.com  Senha5858
1   2      pibbles  pibbles@gmail.com  Senha5025
2   3         THEO     theo@gmail.com  Senha1947
3   4      camilla  Camilla@gmail.com  Senha7745
4   6     camilla4      Cam@gmail.com  Senha8307
5   8      navsd!!   !navDs@gmail.com  Senha4732

In [2]:
# -------- Funções de anonimização --------
def anonimizarUsuario(df):
    try:
        if df is None or df.empty:
            raise ValueError("O DataFrame está vazio ou nulo.")

        df['nome'] = [f'Usuario_{i+1}' for i in range(len(df))]
        # CPF como número válido
        df['cpf'] =  [str(random.randint(10000000000, 99999999999)) for _ in range(len(df))]
        df['senha'] = [f'Senha_{i+1}' for i in range(len(df))]
    except Exception as e:
        print(f'Um Erro inesperado ocorreu....{e}')
        return None
    return df



# -------- Aplicando anonimização nos dados vindos do SQL --------
df_Usuario_Anonimizado = anonimizarUsuario(df_usuario)
if df_Usuario_Anonimizado is not None:
    print("\nTabela: Usuário Anonimizado")
    print(df_Usuario_Anonimizado)

Tabela: Usuário Anonimizado
   id    nome        cpf      genero status  senha    fk_setor_id  fk_supervisor_id cargo
0   1  Usuario_1  54988297538    M    Ativo  Senha_1       1              NaN        None
1   2  Usuario_2  67549932658    F    Ativo  Senha_2       1              1.0        None
2   3  Usuario_3  40590321762    M    Ativo  Senha_3       2              NaN        None

In [ ]:
# -------- Funções de anonimização --------
def anonimizarEmpresa(df):
    try:
        if df is None or df.empty:
            raise ValueError("O DataFrame não pode ser vazio.")

        df['nome'] = [f'Empresa_{i+1}' for i in range(len(df))]
        df['cnpj'] = [f'Cnpj_{i+1}' for i in range(len(df))]
        df['email'] = [f'empresa{i+1}@email.com' for i in range(len(df))]
        df['telefone'] = [f'Telefone_{i+1}' for i in range(len(df))]
        df['cep'] = [f'Cep_{i+1}' for i in range(len(df))]
        return df

    except Exception as e:
        print(f"Um erro inesperado ocorreu... {e}")
        return None



# -------- Aplicando anonimização nos dados vindos do SQL -------
df_empresa_anonimizado = anonimizarEmpresa(df_empresa)
if df_empresa_anonimizado is not None:
    print("\nTabela: Empresa Anonimizado")
    print(df_empresa_anonimizado)

Tabela: Empresa Anonimizado
   id    nome      cnpj         email          telefone       rua            complemento             cidade      estado  cep
0   1  Empresa_1  Cnpj_1  empresa1@email.com  Telefone_1  Rua_Empresa_1  Complemento_Empresa_1  Cidade_Empresa_1   SP    Cep_1

In [8]:
def enviar_para_banco(df, nome_tabela):
    conecta = c.conn()
    try:
        if df is None or df.empty:
            print(f"O DataFrame para {nome_tabela} está vazio.")
            return
        if conecta is None:
            print("Falha ao conectar ao banco de dados.")
            return
        
        cursor = conecta.cursor()
        colunas = ', '.join(df.columns)
        placeholders = ', '.join(['%s'] * len(df.columns))
        query = f"INSERT INTO {nome_tabela} ({colunas}) VALUES ({placeholders})"
        
        # Insere linha por linha
        for row in df.itertuples(index=False, name=None):
            try:
                cursor.execute(query, row)
            except Exception as e:
                print(f"Erro ao inserir linha {row}: {e}")
                conecta.rollback()  # Desfaz apenas essa linha
        conecta.commit()
        print(f"Dados enviados com sucesso para a tabela {nome_tabela}.")
    
    except Exception as e:
        print(f"Erro ao enviar dados para {nome_tabela}: {e}")
        if conecta:
            conecta.rollback()
    finally:
        if conecta:
            c.desconecta(conecta)


# -------- Enviar os DataFrames anonimizados --------
enviar_para_banco(df_Usuario_Anonimizado, 'usuario_anonimizado')
enviar_para_banco(df_empresa_anonimizado, 'Empresa_anonimizada')
enviar_para_banco(df_administracao_anonimizada, 'Administracao_Anonimizada')

Conexão bem sucedida ao banco de dados: dbPrimeiroAno
Dados enviados com sucesso para a tabela Administracao_Anonimizada.
Conexão encerrada.