In [ ]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from tabulate import tabulate   

# Conexão com o banco
engine = create_engine(
    "postgresql+psycopg2://avnadmin:AVNS_7vYOWkNisZnCc33BChG@kronos-service-brenoxgomes0912-32c4.g.aivencloud.com:28753/defaultdb"
)

# Carrega tabelas
df_empresa = pd.read_sql("SELECT * FROM empresa", engine)
df_usuario = pd.read_sql("SELECT * FROM usuario", engine)

# Ajustes de exibição do pandas
pd.set_option("display.max_columns", None)
pd.set_option("display.width", 150)
print("\n-----Empresas----\n")
print(tabulate(df_empresa, headers="keys"))
print("\n----Usuários----\n")
print(tabulate(df_usuario, headers="keys"))

# Anonimização dos dados
df_empresa_anon = df_empresa.copy()
df_usuario_anon = df_usuario.copy()

#função para anonimizar empresas
def anonimizar_empresa(df):
    ['Empresa_' + str(i) for i in range (len(df))]

-----Empresas----

      id  nome                  cnpj                email                         telefone       cep  segmento    porte    horario_funcionamento    regra_de_negocio    turnos
--  ----  --------------------  ------------------  -------------------------  -----------  --------  ----------  -------  -----------------------  ------------------  --------
 0     1  Tech Solutions Ltda.  12.345.678/0001-99  contato@techsolutions.com  11987654321  01001000  Tecnologia  Médio

----Usuários----

      id  nome          cpf             email                                senha         genero    status    tipo_usuario      fk_setor_id    fk_supervisor_id
--  ----  ------------  --------------  -----------------------------------  ------------  --------  --------  --------------  -------------  ------------------
 0     1  Carlos Silva  111.222.333-44  carlos.supervisor@techsolutions.com  senha_hash_1  M         Ativo     Supervisor                  1                 nan
 1     2  Ana Pereira   222.333.444-55  ana.dev@techsolutions.com            senha_hash_2  F         Ativo     Funcionário                 1                   1
 2     3  João Costa    333.444.555-66  joao.rh@techsolutions.com            senha_hash_3  M         Ativo     Funcionário                 2                 nan